In [1]:
#Importing Libraries
import pandas as pd
import requests
import json

In [2]:
#assigning url
timeseries_url = 'https://data.covid19india.org/v4/min/timeseries.min.json'

In [3]:
# Making a GET request to the specified URL
r2 = requests.get(timeseries_url)
# Parsing the JSON response from the request
timeseries = r2.json()

In [4]:
#converting into dataframe
df_timeseries = pd.DataFrame(timeseries)

In [5]:
df_timeseries.head()

,AN,AP,AR,AS,BR,CH,CT,DL,DN,GA,...,RJ,SK,TG,TN,TR,TT,UN,UP,UT,WB
dates,"{'2020-03-26': {'delta': {'confirmed': 1}, 'de...","{'2020-03-12': {'delta': {'confirmed': 1}, 'de...","{'2020-04-02': {'delta': {'confirmed': 1}, 'de...","{'2020-03-31': {'delta': {'confirmed': 1}, 'de...","{'2020-03-22': {'delta': {'confirmed': 2}, 'de...","{'2020-03-19': {'delta': {'confirmed': 1}, 'de...","{'2020-03-19': {'delta': {'confirmed': 1}, 'de...","{'2020-03-02': {'delta': {'confirmed': 1}, 'de...","{'2020-04-09': {'delta': {'tested': 80}, 'delt...","{'2020-03-25': {'delta': {'confirmed': 3}, 'de...",...,"{'2020-03-03': {'delta': {'confirmed': 1}, 'de...","{'2020-05-04': {'delta': {'tested': 170}, 'del...","{'2020-03-02': {'delta': {'confirmed': 1}, 'de...","{'2020-03-07': {'delta': {'confirmed': 1}, 'de...","{'2020-04-06': {'delta': {'confirmed': 1}, 'de...","{'2020-01-30': {'delta': {'confirmed': 1}, 'de...","{'2020-05-19': {'delta': {'confirmed': 814}, '...","{'2020-03-04': {'delta': {'confirmed': 7}, 'de...","{'2020-03-15': {'delta': {'confirmed': 1}, 'de...","{'2020-03-17': {'delta': {'confirmed': 1}, 'de..."

In [6]:
#Verifying data across states
df_timeseries['AN'].loc['dates']

{'2020-03-26': {'delta': {'confirmed': 1},
  'delta7': {'confirmed': 1},
  'total': {'confirmed': 1}},
 '2020-03-27': {'delta': {'confirmed': 5},
  'delta7': {'confirmed': 6},
  'total': {'confirmed': 6}},
 '2020-03-28': {'delta': {'confirmed': 3},
  'delta7': {'confirmed': 9},
  'total': {'confirmed': 9}},
 '2020-03-29': {'delta7': {'confirmed': 9}, 'total': {'confirmed': 9}},
 '2020-03-30': {'delta': {'confirmed': 1},
  'delta7': {'confirmed': 10},
  'total': {'confirmed': 10}},
 '2020-03-31': {'delta7': {'confirmed': 10}, 'total': {'confirmed': 10}},
 '2020-04-01': {'delta7': {'confirmed': 10}, 'total': {'confirmed': 10}},
 '2020-04-02': {'delta7': {'confirmed': 9}, 'total': {'confirmed': 10}},
 '2020-04-03': {'delta7': {'confirmed': 4}, 'total': {'confirmed': 10}},
 '2020-04-04': {'delta7': {'confirmed': 1}, 'total': {'confirmed': 10}},
 '2020-04-05': {'delta7': {'confirmed': 1}, 'total': {'confirmed': 10}},
 '2020-04-06': {'total': {'confirmed': 10}},
 '2020-04-07': {'total': {'confirmed': 10}},
 '2020-04-08': {'delta': {'confirmed': 1},
  'delta7': {'confirmed': 1},
  'total': {'confirmed': 11}},
 '2020-04-09': {'delta': {'recovered': 10},
  'delta7': {'confirmed': 1, 'recovered': 10},
  'total': {'confirmed': 11, 'recovered': 10}},
 '2020-04-10': {'delta7': {'confirmed': 1, 'recovered': 10},
  'total': {'confirmed': 11, 'recovered': 10}},
 '2020-04-11': {'delta7': {'confirmed': 1, 'recovered': 10},
  'total': {'confirmed': 11, 'recovered': 10}},
 '2020-04-12': {'delta7': {'confirmed': 1, 'recovered': 10},
  'total': {'confirmed': 11, 'recovered': 10}},
 '2020-04-13': {'delta7': {'confirmed': 1, 'recovered': 10},
  'total': {'confirmed': 11, 'recovered': 10}},
 '2020-04-14': {'delta7': {'confirmed': 1, 'recovered': 10},
  'total': {'confirmed': 11, 'recovered': 10}},
 '2020-04-15': {'delta7': {'recovered': 10},
  'total': {'confirmed': 11, 'recovered': 10}},
 '2020-04-16': {'delta': {'recovered': 1},
  'delta7': {'recovered': 1},
  'total': {'confirmed': 11, 'recovered': 11}},
 '2020-04-17': {'delta': {'confirmed': 1, 'tested': 1403},
  'delta7': {'confirmed': 1, 'recovered': 1, 'tested': 1403},
  'total': {'confirmed': 12, 'recovered': 11, 'tested': 1403}},
 '2020-04-18': {'delta': {'confirmed': 2},
  'delta7': {'confirmed': 3, 'recovered': 1, 'tested': 1403},
  'total': {'confirmed': 14, 'recovered': 11, 'tested': 1403}},
 '2020-04-19': {'delta': {'confirmed': 1},
  'delta7': {'confirmed': 4, 'recovered': 1, 'tested': 1403},
  'total': {'confirmed': 15, 'recovered': 11, 'tested': 1403}},
 '2020-04-20': {'delta': {'confirmed': 1},
  'delta7': {'confirmed': 5, 'recovered': 1, 'tested': 1403},
  'total': {'confirmed': 16, 'recovered': 11, 'tested': 1403}},
 '2020-04-21': {'delta': {'confirmed': 1},
  'delta7': {'confirmed': 6, 'recovered': 1, 'tested': 1403},
  'total': {'confirmed': 17, 'recovered': 11, 'tested': 1403}},
 '2020-04-22': {'delta': {'confirmed': 1},
  'delta7': {'confirmed': 7, 'recovered': 1, 'tested': 1403},
  'total': {'confirmed': 18, 'recovered': 11, 'tested': 1403}},
 '2020-04-23': {'delta': {'confirmed': 4},
  'delta7': {'confirmed': 11, 'tested': 1403},
  'total': {'confirmed': 22, 'recovered': 11, 'tested': 1403}},
 '2020-04-24': {'delta': {'confirmed': 7, 'tested': 1276},
  'delta7': {'confirmed': 17, 'tested': 1276},
  'total': {'confirmed': 29, 'recovered': 11, 'tested': 2679}},
 '2020-04-25': {'delta': {'confirmed': 4},
  'delta7': {'confirmed': 19, 'tested': 1276},
  'total': {'confirmed': 33, 'recovered': 11, 'tested': 2679}},
 '2020-04-26': {'delta7': {'confirmed': 18, 'tested': 1276},
  'total': {'confirmed': 33, 'recovered': 11, 'tested': 2679}},
 '2020-04-27': {'delta': {'tested': 169},
  'delta7': {'confirmed': 17, 'tested': 1445},
  'total': {'confirmed': 33, 'recovered': 11, 'tested': 2848}},
 '2020-04-28': {'delta': {'recovered': 4},
  'delta7': {'confirmed': 16, 'recovered': 4, 'tested': 1445},
  'total': {'confirmed': 33, 'recovered': 15, 'tested': 2848}},
 '2020-04-29': {'delta7': {'confirmed': 15, 'recovered': 4, 'tested': 1445},
  'total': {'confirmed': 33, 'recovered': 15, 'tested': 2848}},
 '2020-04-30': {'delta': {'recovered': 1},
  'delta7': {'confirmed': 11, 'recovered': 5, 'tested': 1445},
  'total': {'confirmed': 33, 'recovered': 16, 'tested': 2848}},
 '2020-05-01': {'delta': {'tested': 906},
  'delta7': {'confirmed': 4, 'recovered': 5, 'tested': 1075},
  'total': {'confirmed': 33, 'recovered': 16, 'tested': 3754}},
 '2020-05-02': {'delta': {'recovered': 10},
  'delta7': {'recovered': 15, 'tested': 1075},
  'total': {'confirmed': 33, 'recovered': 26, 'tested': 3754}},
 '2020-05-03': {'delta': {'recovered': 6},
  'delta7': {'recovered': 21, 'tested': 1075},
  'total': {'confirmed': 33, 'recovered': 32, 'tested': 3754}},
 '2020-05-04': {'delta7': {'recovered': 21, 'tested': 906},
  'total': {'confirmed': 33, 'recovered': 32, 'tested': 3754}},
 '2020-05-05': {'delta7': {'recovered': 17, 'tested': 906},
  'total': {'confirmed': 33, 'recovered': 32, 'tested': 3754}},
 '2020-05-06': {'delta7': {'recovered': 17, 'tested': 906},
  'total': {'confirmed': 33, 'recovered': 32, 'tested': 3754}},
 '2020-05-07': {'delta': {'recovered': 1},
  'delta7': {'recovered': 17, 'tested': 906},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-08': {'delta7': {'recovered': 17},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-09': {'delta7': {'recovered': 7},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-10': {'delta7': {'recovered': 1},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-11': {'delta7': {'recovered': 1},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-12': {'delta7': {'recovered': 1},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-13': {'delta7': {'recovered': 1},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-14': {'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-15': {'total': {'confirmed': 33, 'recovered': 33, 'tested': 3754}},
 '2020-05-16': {'delta': {'tested': 2923},
  'delta7': {'tested': 2923},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 6677}},
 '2020-05-17': {'delta7': {'tested': 2923},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 6677}},
 '2020-05-18': {'delta7': {'tested': 2923},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 6677}},
 '2020-05-19': {'delta': {'tested': 288},
  'delta7': {'tested': 3211},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 6965}},
 '2020-05-20': {'delta': {'tested': 117},
  'delta7': {'tested': 3328},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7082}},
 '2020-05-21': {'delta': {'tested': 85},
  'delta7': {'tested': 3413},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7167}},
 '2020-05-22': {'delta': {'tested': 96},
  'delta7': {'tested': 3509},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7263}},
 '2020-05-23': {'delta': {'tested': 64},
  'delta7': {'tested': 650},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7327}},
 '2020-05-24': {'delta7': {'tested': 650},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7327}},
 '2020-05-25': {'delta': {'tested': 36},
  'delta7': {'tested': 686},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7363}},
 '2020-05-26': {'delta': {'tested': 85},
  'delta7': {'tested': 483},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7448}},
 '2020-05-27': {'delta': {'tested': 51},
  'delta7': {'tested': 417},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7499}},
 '2020-05-28': {'delta': {'tested': 20},
  'delta7': {'tested': 352},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7519}},
 '2020-05-29': {'delta': {'tested': 48},
  'delta7': {'tested': 304},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7567}},
 '2020-05-30': {'delta7': {'tested': 240},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7567}},
 '2020-05-31': {'delta': {'tested': 139},
  'delta7': {'tested': 379},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7706}},
 '2020-06-01': {'delta': {'tested': 99},
  'delta7': {'tested': 442},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 7805}},
 '2020-06-02': {'delta': {'tested': 281},
  'delta7': {'tested': 638},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 8086}},
 '2020-06-03': {'delta': {'tested': 209},
  'delta7': {'tested': 796},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 8295}},
 '2020-06-04': {'delta': {'tested': 118},
  'delta7': {'tested': 894},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 8413}},
 '2020-06-05': {'delta': {'tested': 281},
  'delta7': {'tested': 1127},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 8694}},
 '2020-06-06': {'delta': {'tested': 343},
  'delta7': {'tested': 1470},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 9037}},
 '2020-06-07': {'delta': {'tested': 205},
  'delta7': {'tested': 1536},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 9242}},
 '2020-06-08': {'delta': {'tested': 99},
  'delta7': {'tested': 1536},
  'total': {'confirmed': 33, 'recovered': 33, 'tested': 9341}},
 '2020-06-09': {'delta': {'confirmed': 1, 'tested': 518},
  'delta7': {'confirmed': 1, 'tested': 1773},
  'total': {'confirmed': 34, 'recovered': 33, 'tested': 9859}},
 '2020-06-10': {'delta': {'confirmed': 1, 'tested': 151},
  'delta7': {'confirmed': 2, 'tested': 1715},
  'total': {'confirmed': 35, 'recovered': 33, 'tested': 10010}},
 '2020-06-11': {'delta': {'confirmed': 3, 'tested': 216},
  'delta7': {'confirmed': 5, 'tested': 1813},
  'total': {'confirmed': 38, 'recovered': 33, 'tested': 10226}},
 '2020-06-12': {'delta': {'tested': 471},
  'delta7': {'confirmed': 5, 'tested': 2003},
  'total': {'confirmed': 38, 'recovered': 33, 'tested': 10697}},
 '2020-06-13': {'delta': {'tested': 258},
  'delta7': {'confirmed': 5, 'tested': 1918},
  'total': {'confirmed': 38, 'recovered': 33, 'tested': 10955}},
 '2020-06-14': {'delta': {'confirmed': 2, 'tested': 401},
  'delta7': {'confirmed': 7, 'tested': 2114},
  'total': {'confirmed': 40, 'recovered': 33, 'tested': 11356}},
 '2020-06-15': {'delta': {'confirmed': 1, 'tested': 162},
  'delta7': {'confirmed': 8, 'tested': 2177},
  'total': {'confirmed': 41, 'recovered': 33, 'tested': 11518}},
 '2020-06-16': {'delta': {'confirmed': 3, 'tested': 291},
  'delta7': {'confirmed': 10, 'tested': 1950},
  'total': {'confirmed': 44, 'recovered': 33, 'tested': 11809}},
 '2020-06-17': {'delta': {'tested': 430},
  'delta7': {'confirmed': 9, 'tested': 2229},
  'total': {'confirmed': 44, 'recovered': 33, 'tested': 12239}},
 '2020-06-18': {'delta': {'confirmed': 1, 'recovered': 2, 'tested': 383},
  'delta7': {'confirmed': 7, 'recovered': 2, 'tested': 2396},
  'total': {'confirmed': 45, 'recovered': 35, 'tested': 12622}},
 '2020-06-19': {'delta': {'confirmed': 2, 'tested': 308},
  'delta7': {'confirmed': 9, 'recovered': 2, 'tested': 2233},
  'total': {'confirmed': 47, 'recovered': 35, 'tested': 12930}},
 '2020-06-20': {'delta': {'tested': 390},
  'delta7': {'confirmed': 9, 'recovered': 2, 'tested': 2365},
  'total': {'confirmed': 47, 'recovered': 35, 'tested': 13320}},
 '2020-06-21': {'delta': {'confirmed': 1, 'recovered': 2, 'tested': 114},
  'delta7': {'confirmed': 8, 'recovered': 4, 'tested': 2078},
  'total': {'confirmed': 48, 'recovered': 37, 'tested': 13434}},
 '2020-06-22': {'delta': {'tested': 77},
  'delta7': {'confirmed': 7, 'recovered': 4, 'tested': 1993},
  'total': {'confirmed': 48, 'recovered': 37, 'tested': 13511}},
 '2020-06-23': {'delta': {'confirmed': 2, 'recovered': 3, 'tested': 212},
  'delta7': {'confirmed': 6, 'recovered': 7, 'tested': 1914},
  'total': {'confirmed': 50, 'recovered': 40, 'tested': 13723}},
 '2020-06-24': {'delta': {'confirmed': 6, 'recovered': 1, 'tested': 271},
  'delta7': {'confirmed': 12, 'recovered': 8, 'tested': 1755},
  'total': {'confirmed': 56, 'recovered': 41, 'tested': 13994}},
 '2020-06-25': {'delta': {'confirmed': 2, 'tested': 283},
  'delta7': {'confirmed': 13, 'recovered': 6, 'tested': 1655},
  'total': {'confirmed': 58, 'recovered': 41, 'tested': 14277}},
 '2020-06-26': {'delta': {'confirmed': 14, 'recovered': 2, 'tested': 306},
  'delta7': {'confirmed': 25, 'recovered': 8, 'tested': 1653},
  'total': {'confirmed': 72, 'recovered': 43, 'tested': 14583}},
 '2020-06-27': {'delta': {'tested': 268},
  'delta7': {'confirmed': 25, 'recovered': 8, 'tested': 1531},
  'total': {'confirmed': 72, 'recovered': 43, 'tested': 14851}},
 '2020-06-28': {'delta': {'confirmed': 11, 'recovered': 2, 'tested': 243},
  'delta7': {'confirmed': 35, 'recovered': 8, 'tested': 1660},
  'total': {'confirmed': 83, 'recovered': 45, 'tested': 15094}},
 '2020-06-29': {'delta': {'confirmed': 7, 'tested': 316},
  'delta7': {'confirmed': 42, 'recovered': 8, 'tested': 1899},
  'total': {'confirmed': 90, 'recovered': 45, 'tested': 15410}},
 '2020-06-30': {'delta': {'confirmed': 7, 'tested': 299},
  'delta7': {'confirmed': 47, 'recovered': 5, 'tested': 1986},
  'total': {'confirmed': 97, 'recovered': 45, 'tested': 15709}},
 '2020-07-01': {'delta': {'confirmed': 3, 'recovered': 5, 'tested': 273},
  'delta7': {'confirmed': 44, 'recovered': 9, 'tested': 1988},
  'total': {'confirmed': 100, 'recovered': 50, 'tested': 15982}},
 '2020-07-02': {'delta': {'confirmed': 9, 'recovered': 1, 'tested': 296},
  'delta7': {'confirmed': 51, 'recovered': 10, 'tested': 2001},
  'total': {'confirmed': 109, 'recovered': 51, 'tested': 16278}},
 '2020-07-03': {'delta': {'confirmed': 7, 'recovered': 3, 'tested': 348},
  'delta7': {'confirmed': 44, 'recovered': 11, 'tested': 2043},
  'total': {'confirmed': 116, 'recovered': 54, 'tested': 16626}},
 '2020-07-04': {'delta': {'confirmed': 3, 'recovered': 12, 'tested': 206},
  'delta7': {'confirmed': 47, 'recovered': 23, 'tested': 1981},
  'total': {'confirmed': 119, 'recovered': 66, 'tested': 16832}},
 '2020-07-05': {'delta': {'confirmed': 6, 'recovered': 6, 'tested': 77},
  'delta7': {'confirmed': 42, 'recovered': 27, 'tested': 1815},
  'total': {'confirmed': 125, 'recovered': 72, 'tested': 16909}},
 '2020-07-06': {'delta': {'confirmed': 16, 'recovered': 2, 'tested': 186},
  'delta7': {'confirmed': 51, 'recovered': 29, 'tested': 1685},
  'total': {'confirmed': 141, 'recovered': 74, 'tested': 17095}},
 '2020-07-07': {'delta': {'confirmed': 6, 'tested': 286},
  'delta7': {'confirmed': 50, 'recovered': 29, 'tested': 1672},
  'total': {'confirmed': 147, 'recovered': 74, 'tested': 17381}},
 '2020-07-08': {'delta': {'confirmed': 2, 'tested': 262},
  'delta7': {'confirmed': 49, 'recovered': 24, 'tested': 1661},
  'total': {'confirmed': 149, 'recovered': 74, 'tested': 17643}},
 '2020-07-09': {'delta': {'confirmed': 7, 'recovered': 9, 'tested': 209},
  'delta7': {'confirmed': 47, 'recovered': 32, 'tested': 1574},
  'total': {'confirmed': 156, 'recovered': 83, 'tested': 17852}},
 '2020-07-10': {'delta': {'recovered': 9, 'tested': 194},
  'delta7': {'confirmed': 40, 'recovered': 38, 'tested': 1420},
  'total': {'confirmed': 156, 'recovered': 92, 'tested': 18046}},
 '2020-07-11': {'delta': {'tested': 269},
  'delta7': {'confirmed': 37, 'recovered': 26, 'tested': 1483},
  'total': {'confirmed': 156, 'recovered': 92, 'tested': 18315}},
 '2020-07-12': {'delta': {'confirmed': 7, 'recovered': 8, 'tested': 132},
  'delta7': {'confirmed': 38, 'recovered': 28, 'tested': 1538},
  'total': {'confirmed': 163, 'recovered': 100, 'tested': 18447}},
 '2020-07-13': {'delta': {'confirmed': 3, 'recovered': 9, 'tested': 162},
  'delta7': {'confirmed': 25, 'recovered': 35, 'tested': 1514},
  'total': {'confirmed': 166, 'recovered': 109, 'tested': 18609}},
 '2020-07-14': {'delta': {'confirmed': 5, 'recovered': 20, 'tested': 275},
  'delta7': {'confirmed': 24, 'recovered': 55, 'tested': 1503},
  'total': {'confirmed': 171, 'recovered': 129, 'tested': 18884}},
 '2020-07-15': {'delta': {'confirmed': 5, 'recovered': 1, 'tested': 177},
  'delta7': {'confirmed': 27, 'recovered': 56, 'tested': 1418},
  'total': {'confirmed': 176, 'recovered': 130, 'tested': 19061}},
 '2020-07-16': {'delta': {'confirmed': 4, 'recovered': 3, 'tested': 166},
  'delta7': {'confirmed': 24, 'recovered': 50, 'tested': 1375},
  'total': {'confirmed': 180, 'recovered': 133, 'tested': 19227}},
 '2020-07-17': {'delta': {'confirmed': 4, 'recovered': 9, 'tested': 194},
  'delta7': {'confirmed': 28, 'recovered': 50, 'tested': 1375},
  'total': {'confirmed': 184, 'recovered': 142, 'tested': 19421}},
 '2020-07-18': {'delta': {'confirmed': 4, 'recovered': 3, 'tested': 250},
  'delta7': {'confirmed': 32, 'recovered': 53, 'tested': 1356},
  'total': {'confirmed': 188, 'recovered': 145, 'tested': 19671}},
 '2020-07-19': {'delta': {'confirmed': 15, 'other': 1, 'tested': 233},
  'delta7': {'confirmed': 40, 'other': 1, 'recovered': 45, 'tested': 1457},
  'total': {'confirmed': 203, 'other': 1, 'recovered': 145, 'tested': 19904}},
 '2020-07-20': {'delta': {'confirmed': 4, 'recovered': 6, 'tested': 397},
  'delta7': {'confirmed': 41, 'other': 1, 'recovered': 42, 'tested': 1692},
  'total': {'confirmed': 207, 'other': 1, 'recovered': 151, 'tested': 20301}},
 '2020-07-21': {'delta': {'confirmed': 5, 'recovered': 8, 'tested': 341},
  'delta7': {'confirmed': 41, 'other': 1, 'recovered': 30, 'tested': 1758},
  'total': {'confirmed': 212, 'other': 1, 'recovered': 159, 'tested': 20642}},
 '2020-07-22': {'delta': {'confirmed': 9, 'recovered': 4, 'tested': 401},
  'delta7': {'confirmed': 45, 'other': 1, 'recovered': 33, 'tested': 1982},
  'total': {'confirmed': 221, 'other': 1, 'recovered': 163, 'tested': 21043}},
 '2020-07-23': {'delta': {'confirmed': 19, 'recovered': 7, 'tested': 267},
  'delta7': {'confirmed': 60, 'other': 1, 'recovered': 37, 'tested': 2083},
  'total': {'confirmed': 240, 'other': 1, 'recovered': 170, 'tested': 21310}},
 '2020-07-24': {'delta': {'confirmed': 19, 'recovered': 4, 'tested': 433},
  'delta7': {'confirmed': 75, 'other': 1, 'recovered': 32, 'tested': 2322},
  'total': {'confirmed': 259, 'other': 1, 'recovered': 174, 'tested': 21743}},
 '2020-07-25': {'delta': {'confirmed': 31, 'recovered': 2, 'tested': 222},
  'delta7': {'confirmed': 102, 'other': 1, 'recovered': 31, 'tested': 2294},
  'total': {'confirmed': 290, 'other': 1, 'recovered': 176, 'tested': 21965}},
 '2020-07-26': {'delta': {'confirmed': 28, 'recovered': 4, 'tested': 84},
  'delta7': {'confirmed': 115, 'recovered': 35, 'tested': 2145},
  'total': {'confirmed': 318, 'other': 1, 'recovered': 180, 'tested': 22049}},
 '2020-07-27': {'delta': {'confirmed': 20,
   'deceased': 1,
   'recovered': 12,
   'tested': 499},
  'delta7': {'confirmed': 131, 'deceased': 1, 'recovered': 41, 'tested': 2247},
  'total': {'confirmed': 338,
   'deceased': 1,
   'other': 1,
   'recovered': 192,
   'tested': 22548}},
 '2020-07-28': {'delta': {'confirmed': 25, 'recovered': 4, 'tested': 377},
  'delta7': {'confirmed': 151, 'deceased': 1, 'recovered': 37, 'tested': 2283},
  'total': {'confirmed': 363,
   'deceased': 1,
   'other': 1,
   'recovered': 196,
   'tested': 22925}},
 '2020-07-29': {'delta': {'confirmed': 65,
   'deceased': 1,
   'recovered': 5,
   'tested': 292},
  'delta7': {'confirmed': 207, 'deceased': 2, 'recovered': 38, 'tested': 2174},
  'total': {'confirmed': 428,
   'deceased': 2,
   'other': 1,
   'recovered': 201,
   'tested': 23217}},
 '2020-07-30': {'delta': {'confirmed': 42, 'deceased': 1, 'tested': 398},
  'delta7': {'confirmed': 230, 'deceased': 3, 'recovered': 31, 'tested': 2305},
  'total': {'confirmed': 470,
   'deceased': 3,
   'other': 1,
   'recovered': 201,
   'tested': 23615}},
 '2020-07-31': {'delta': {'confirmed': 78,
   'deceased': 2,
   'recovered': 13,
   'tested': 423},
  'delta7': {'confirmed': 289, 'deceased': 5, 'recovered': 40, 'tested': 2295},
  'total': {'confirmed': 548,
   'deceased': 5,
   'other': 1,
   'recovered': 214,
   'tested': 24038}},
 '2020-08-01': {'delta': {'confirmed': 88,

In [7]:
df_timeseries.columns

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UN', 'UP',
       'UT', 'WB'],
      dtype='object')

## Creating DataFrame For each state

## AN

In [8]:
# Create a DataFrame 'dfAN' by selecting the 'dates' column from the 'df_timeseries' DataFrame for the 'AN' index,
# transpose the result, and then convert each row into a separate column using apply(pd.Series)
dfAN = pd.DataFrame(df_timeseries['AN']['dates']).transpose().apply(pd.Series)

In [9]:
dfAN

,delta,delta7,total
2020-03-26,{'confirmed': 1},{'confirmed': 1},{'confirmed': 1}
2020-03-27,{'confirmed': 5},{'confirmed': 6},{'confirmed': 6}
2020-03-28,{'confirmed': 3},{'confirmed': 9},{'confirmed': 9}
2020-03-29,NaN,{'confirmed': 9},{'confirmed': 9}
2020-03-30,{'confirmed': 1},{'confirmed': 10},{'confirmed': 10}
...,...,...,...
2021-10-27,"{'confirmed': 2, 'recovered': 1, 'tested': 117...","{'confirmed': 4, 'recovered': 6, 'tested': 943...","{'confirmed': 7650, 'deceased': 129, 'recovere..."
2021-10-28,"{'confirmed': 1, 'tested': 1301, 'vaccinated1'...","{'confirmed': 5, 'recovered': 6, 'tested': 927...","{'confirmed': 7651, 'deceased': 129, 'recovere..."
2021-10-29,"{'recovered': 1, 'tested': 1348, 'vaccinated1'...","{'confirmed': 5, 'recovered': 6, 'tested': 915...","{'confirmed': 7651, 'deceased': 129, 'recovere..."
2021-10-30,"{'recovered': 1, 'tested': 1260, 'vaccinated1'...","{'confirmed': 3, 'recovered': 7, 'tested': 871...","{'confirmed': 7651, 'deceased': 129, 'recovere..."
2021-10-31,"{'tested': 1376, 'vaccinated1': 3, 'vaccinated...","{'confirmed': 3, 'recovered': 5, 'tested': 893...","{'confirmed': 7651, 'deceased': 129, 'recovere..."

In [10]:
# Drop the columns 'delta' and 'delta7' from the DataFrame 'dfAN' and apply the changes in-place
dfAN.drop(columns = ['delta','delta7'],inplace = True)

In [11]:
# Extract and transform the 'total' column of the DataFrame 'dfAN' into a new DataFrame 'AN'
AN = dfAN['total'].apply(pd.Series)

In [12]:
AN

,confirmed,recovered,tested,other,deceased,vaccinated1,vaccinated2
2020-03-26,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-27,6.0,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-28,9.0,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-29,9.0,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-30,10.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2021-10-27,7650.0,7516.0,592748.0,NaN,129.0,293644.0,195689.0
2021-10-28,7651.0,7516.0,594049.0,NaN,129.0,293776.0,197310.0
2021-10-29,7651.0,7517.0,595397.0,NaN,129.0,293904.0,198731.0
2021-10-30,7651.0,7518.0,596657.0,NaN,129.0,293998.0,200144.0
2021-10-31,7651.0,7518.0,598033.0,NaN,129.0,294001.0,200157.0

In [13]:
# Fill missing (NaN) values in the DataFrame 'AN' with zeros
AN = AN.fillna(0)

In [14]:
# Drop the column named 'other' from the DataFrame 'AN'
AN = AN.drop(columns='other')

In [15]:
AN

            confirmed  recovered    tested  deceased  vaccinated1  vaccinated2
2020-03-26        1.0        0.0       0.0       0.0          0.0          0.0
2020-03-27        6.0        0.0       0.0       0.0          0.0          0.0
2020-03-28        9.0        0.0       0.0       0.0          0.0          0.0
2020-03-29        9.0        0.0       0.0       0.0          0.0          0.0
2020-03-30       10.0        0.0       0.0       0.0          0.0          0.0
...               ...        ...       ...       ...          ...          ...
2021-10-27     7650.0     7516.0  592748.0     129.0     293644.0     195689.0
2021-10-28     7651.0     7516.0  594049.0     129.0     293776.0     197310.0
2021-10-29     7651.0     7517.0  595397.0     129.0     293904.0     198731.0
2021-10-30     7651.0     7518.0  596657.0     129.0     293998.0     200144.0
2021-10-31     7651.0     7518.0  598033.0     129.0     294001.0     200157.0

[585 rows x 6 columns]

In [18]:
# Reset the index of the DataFrame 'AN', keeping the current index as a regular column
AN.reset_index(level=0)

,index,confirmed,recovered,tested,deceased,vaccinated1,vaccinated2
0,2020-03-26,1.0,0.0,0.0,0.0,0.0,0.0
1,2020-03-27,6.0,0.0,0.0,0.0,0.0,0.0
2,2020-03-28,9.0,0.0,0.0,0.0,0.0,0.0
3,2020-03-29,9.0,0.0,0.0,0.0,0.0,0.0
4,2020-03-30,10.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
580,2021-10-27,7650.0,7516.0,592748.0,129.0,293644.0,195689.0
581,2021-10-28,7651.0,7516.0,594049.0,129.0,293776.0,197310.0
582,2021-10-29,7651.0,7517.0,595397.0,129.0,293904.0,198731.0
583,2021-10-30,7651.0,7518.0,596657.0,129.0,293998.0,200144.0
584,2021-10-31,7651.0,7518.0,598033.0,129.0,294001.0,200157.0

In [17]:
AN.reset_index(level=0,inplace=True) # Reset the index of the DataFrame AN and apply the changes in-place
AN.rename({'index':'dates'},axis=1,inplace=True)# Rename the column 'index' to 'dates' in the DataFrame AN
AN['dates'] = pd.to_datetime(AN['dates']) # Reset the index of the DataFrame AN and apply the changes in-place

In [80]:
# Convert the 'deceased' column in the DataFrame 'AN' to integers
AN['deceased'] = AN['deceased'].astype(int)

In [81]:
AN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        585 non-null    datetime64[ns]
 1   confirmed    585 non-null    float64
 2   recovered    585 non-null    float64
 3   tested       585 non-null    float64
 4   deceased     585 non-null    int32
 5   vaccinated1  585 non-null    float64
 6   vaccinated2  585 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1)
memory usage: 29.8 KB

In [19]:
AN

,dates,confirmed,recovered,tested,deceased,vaccinated1,vaccinated2
0,2020-03-26,1.0,0.0,0.0,0.0,0.0,0.0
1,2020-03-27,6.0,0.0,0.0,0.0,0.0,0.0
2,2020-03-28,9.0,0.0,0.0,0.0,0.0,0.0
3,2020-03-29,9.0,0.0,0.0,0.0,0.0,0.0
4,2020-03-30,10.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
580,2021-10-27,7650.0,7516.0,592748.0,129.0,293644.0,195689.0
581,2021-10-28,7651.0,7516.0,594049.0,129.0,293776.0,197310.0
582,2021-10-29,7651.0,7517.0,595397.0,129.0,293904.0,198731.0
583,2021-10-30,7651.0,7518.0,596657.0,129.0,293998.0,200144.0
584,2021-10-31,7651.0,7518.0,598033.0,129.0,294001.0,200157.0

In [20]:
AN['deceased'].unique()

array([  0.,   1.,   2.,   3.,   5.,   7.,   8.,  10.,  12.,  14.,  16.,
        19.,  20.,  21.,  22.,  24.,  28.,  29.,  30.,  31.,  32.,  33.,
        35.,  37.,  41.,  42.,  44.,  45.,  46.,  47.,  48.,  49.,  50.,
        51.,  52.,  53.,  54.,  55.,  56.,  57.,  58.,  59.,  60.,  61.,
        62.,  63.,  64.,  65.,  66.,  67.,  68.,  69.,  70.,  71.,  72.,
        74.,  76.,  78.,  81.,  83.,  85.,  88.,  89.,  92.,  95.,  96.,
        98., 101., 103., 104., 106., 108., 109., 113., 114., 115., 118.,
       119., 121., 122., 123., 125., 126., 127., 128., 129.])

## AP

In [21]:
dfAP = pd.DataFrame(df_timeseries['AP']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfAP' from transposed date data for Andhra Pradesh (AP) from 'df_timeseries'
dfAP.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfAP' DataFrame
AP = dfAP['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfAP' DataFrame into a new DataFrame 'AP'
AP = AP.fillna(0)  # Fill missing (NaN) values in the 'AP' DataFrame with zeros

In [22]:
AP.reset_index(level=0, inplace=True)  # Reset the index of the 'AP' DataFrame, moving the current index to a regular column
AP.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'AP' DataFrame
AP['dates'] = pd.to_datetime(AP['dates'])  # Convert the values in the 'dates' column of the 'AP' DataFrame to datetime objects

In [82]:
AP['deceased'] = AP['deceased'].astype(int)

In [83]:
AP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        599 non-null    datetime64[ns]
 1   confirmed    599 non-null    float64
 2   recovered    599 non-null    float64
 3   tested       599 non-null    float64
 4   deceased     599 non-null    int32
 5   vaccinated1  599 non-null    float64
 6   vaccinated2  599 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1)
memory usage: 30.5 KB

In [24]:
AP['deceased'] = AP['deceased'].astype(int)

In [25]:
AP['deceased'].unique()

array([    0,     1,     3,     4,     6,     7,    11,    14,    16,
          17,    20,    22,    24,    27,    29,    31,    33,    34,
          36,    38,    41,    44,    45,    46,    47,    48,    49,
          50,    52,    53,    54,    55,    56,    57,    58,    59,
          60,    62,    64,    68,    71,    73,    75,    77,    78,
          80,    82,    84,    86,    88,    90,    92,    96,   101,
         106,   111,   119,   129,   136,   146,   157,   169,   180,
         187,   193,   198,   206,   218,   232,   239,   252,   264,
         277,   292,   309,   328,   365,   408,   452,   492,   534,
         586,   642,   696,   758,   823,   884,   933,   985,  1041,
        1090,  1148,  1213,  1281,  1349,  1407,  1474,  1537,  1604,
        1681,  1753,  1842,  1939,  2036,  2116,  2203,  2296,  2378,
        2475,  2562,  2650,  2732,  2820,  2906,  3001,  3092,  3189,
        3282,  3368,  3460,  3541,  3633,  3714,  3796,  3884,  3969,
        4053,  4125,  4200,  4276,  4347,  4417,  4487,  4560,  4634,
        4702,  4779,  4846,  4912,  4972,  5041,  5105,  5177,  5244,
        5302,  5359,  5410,  5461,  5506,  5558,  5606,  5663,  5708,
        5745,  5780,  5828,  5869,  5900,  5941,  5981,  6019,  6052,
        6086,  6128,  6159,  6194,  6224,  6256,  6291,  6319,  6357,
        6382,  6406,  6429,  6453,  6481,  6508,  6524,  6544,  6566,
        6587,  6606,  6625,  6643,  6659,  6676,  6690,  6706,  6719,
        6734,  6744,  6757,  6768,  6779,  6791,  6802,  6814,  6828,
        6837,  6847,  6854,  6868,  6881,  6890,  6899,  6910,  6920,
        6927,  6938,  6948,  6956,  6962,  6970,  6976,  6981,  6988,
        6992,  6996,  7003,  7014,  7020,  7024,  7033,  7038,  7042,
        7045,  7047,  7049,  7052,  7057,  7059,  7064,  7067,  7069,
        7070,  7074,  7076,  7078,  7082,  7085,  7089,  7091,  7092,
        7094,  7098,  7100,  7104,  7108,  7111,  7115,  7118,  7122,
        7125,  7126,  7127,  7128,  7129,  7131,  7133,  7134,  7138,
        7139,  7140,  7141,  7142,  7146,  7147,  7149,  7150,  7152,
        7153,  7154,  7156,  7157,  7158,  7159,  7160,  7161,  7162,
        7163,  7165,  7166,  7167,  7168,  7169,  7170,  7171,  7172,
        7173,  7174,  7176,  7177,  7179,  7180,  7182,  7184,  7185,
        7186,  7187,  7189,  7191,  7193,  7197,  7201,  7203,  7205,
        7210,  7213,  7217,  7220,  7225,  7234,  7239,  7244,  7251,
        7262,  7268,  7279,  7291,  7300,  7311,  7321,  7339,  7353,
        7373,  7388,  7410,  7437,  7472,  7510,  7541,  7579,  7616,
        7685,  7736,  7800,  7871,  7928,  7992,  8053,  8136,  8207,
        8289,  8374,  8446,  8519,  8615,  8707,  8791,  8899,  8988,
        9077,  9173,  9271,  9372,  9481,  9580,  9686,  9800,  9904,
       10022, 10126, 10222, 10328, 10427, 10531, 10634, 10738, 10832,
       10930, 11034, 11132, 11213, 11296, 11376, 11466, 11552, 11629,
       11696, 11763, 11824, 11882, 11940, 11999, 12052, 12109, 12167,
       12224, 12269, 12319, 12363, 12416, 12452, 12490, 12528, 12566,
       12599, 12630, 12671, 12706, 12744, 12779, 12815, 12844, 12870,
       12898, 12919, 12946, 12960, 12986, 13002, 13024, 13042, 13057,
       13081, 13097, 13115, 13132, 13154, 13178, 13197, 13209, 13223,
       13241, 13256, 13273, 13292, 13312, 13332, 13354, 13377, 13395,
       13410, 13428, 13444, 13468, 13490, 13513, 13531, 13549, 13564,
       13582, 13595, 13615, 13631, 13647, 13660, 13671, 13686, 13696,
       13702, 13715, 13723, 13735, 13750, 13766, 13778, 13788, 13807,
       13825, 13838, 13857, 13867, 13877, 13887, 13903, 13911, 13925,
       13935, 13950, 13964, 13970, 13987, 13998, 14010, 14019, 14030,
       14044, 14052, 14061, 14070, 14078, 14089, 14097, 14108, 14118,
       14125, 14136, 14142, 14150, 14163, 14176, 14186, 14195, 14204,
       14208, 14219, 14228, 14236, 14242, 14250, 14254, 14256, 14268,
       14276, 14286, 14295, 14302, 14307, 14313, 14317, 14320, 14327,
       14333, 14339, 14343, 14350, 14356, 14364, 14365, 14367, 14369,
       14373])

In [26]:
AP['deceased']

0          0
1          0
2          0
3          0
4          0
       ...
594    14364
595    14365
596    14367
597    14369
598    14373
Name: deceased, Length: 599, dtype: int32

## AR

In [27]:
dfAR = pd.DataFrame(df_timeseries['AR']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfAR' from transposed date data for Arunachal Pradesh (AR) from 'df_timeseries'
dfAR.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfAR' DataFrame
AR = dfAR['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfAR' DataFrame into a new DataFrame 'AR'
AR = AR.fillna(0)  # Fill missing (NaN) values in the 'AR' DataFrame with zeros

In [28]:
AR.reset_index(level=0, inplace=True)  # Reset the index of the 'AR' DataFrame, moving the current index to a regular column
AR.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'AR' DataFrame
AR['dates'] = pd.to_datetime(AR['dates'])  # Convert the values in the 'dates' column of the 'AR' DataFrame to datetime objects

In [84]:
AR['deceased'] = AR['deceased'].astype(int)

In [85]:
AR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        578 non-null    datetime64[ns]
 1   confirmed    578 non-null    float64
 2   tested       578 non-null    float64
 3   recovered    578 non-null    float64
 4   deceased     578 non-null    int32
 5   vaccinated1  578 non-null    float64
 6   vaccinated2  578 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1)
memory usage: 29.5 KB

In [30]:
AR['deceased'].unique()

array([  0.,   1.,   2.,   3.,   4.,   5.,   7.,   8.,   9.,  10.,  11.,
        13.,  14.,  15.,  16.,  18.,  19.,  20.,  21.,  22.,  23.,  24.,
        28.,  29.,  30.,  31.,  32.,  33.,  35.,  36.,  37.,  38.,  42.,
        43.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  54.,  55.,  56.,
        58.,  59.,  60.,  64.,  68.,  69.,  72.,  77.,  78.,  81.,  85.,
        87.,  89.,  92.,  95.,  98., 102., 104., 107., 109., 111., 114.,
       115., 116., 118., 119., 122., 123., 125., 126., 128., 133., 138.,
       143., 145., 151., 155., 158., 159., 160., 162., 165., 167., 168.,
       172., 176., 177., 179., 181., 184., 185., 186., 188., 189., 191.,
       193., 195., 197., 199., 201., 202., 203., 204., 208., 212., 213.,
       216., 218., 221., 224., 225., 226., 229., 231., 234., 236., 237.,
       240., 242., 246., 248., 251., 252., 254., 255., 257., 259., 260.,
       261., 262., 264., 267., 268., 269., 270., 271., 272., 273., 274.,
       275., 276., 277., 279., 280.])

## AS

In [31]:
dfAS = pd.DataFrame(df_timeseries['AS']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfAS' from transposed date data for Assam (AS) from 'df_timeseries'
dfAS.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfAS' DataFrame
AS = dfAS['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfAS' DataFrame into a new DataFrame 'AS'
AS = AS.fillna(0)  # Fill missing (NaN) values in the 'AS' DataFrame with zeros
AS.reset_index(level=0, inplace=True)  # Reset the index of the 'AS' DataFrame, moving the current index to a regular column
AS.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'AS' DataFrame
AS['dates'] = pd.to_datetime(AS['dates'])  # Convert the values in the 'dates' column of the 'AS' DataFrame to datetime objects

In [86]:
AS['deceased'] = AS['deceased'].astype(int)
AS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        580 non-null    datetime64[ns]
 1   confirmed    580 non-null    float64
 2   tested       580 non-null    float64
 3   deceased     580 non-null    int32
 4   recovered    580 non-null    float64
 5   other        580 non-null    float64
 6   vaccinated1  580 non-null    float64
 7   vaccinated2  580 non-null    float64
dtypes: datetime64[ns](1), float64(6), int32(1)
memory usage: 34.1 KB

## BR

In [33]:
dfBR = pd.DataFrame(df_timeseries['BR']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfBR' from transposed date data for Bihar (BR) from 'df_timeseries'
dfBR.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfBR' DataFrame
BR = dfBR['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfBR' DataFrame into a new DataFrame 'BR'
BR = BR.fillna(0)  # Fill missing (NaN) values in the 'BR' DataFrame with zeros
BR.reset_index(level=0, inplace=True)  # Reset the index of the 'BR' DataFrame, moving the current index to a regular column
BR.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'BR' DataFrame
BR['dates'] = pd.to_datetime(BR['dates'])  # Convert the values in the 'dates' column of the 'BR' DataFrame to datetime objects

In [87]:
BR['deceased'] = BR['deceased'].astype(int)
BR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        589 non-null    datetime64[ns]
 1   confirmed    589 non-null    float64
 2   deceased     589 non-null    int32
 3   recovered    589 non-null    float64
 4   tested       589 non-null    float64
 5   other        589 non-null    float64
 6   vaccinated1  589 non-null    float64
 7   vaccinated2  589 non-null    float64
dtypes: datetime64[ns](1), float64(6), int32(1)
memory usage: 34.6 KB

## CH

In [35]:
dfCH = pd.DataFrame(df_timeseries['CH']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfCH' from transposed date data for Chandigarh (CH) from 'df_timeseries'
dfCH.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfCH' DataFrame
CH = dfCH['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfCH' DataFrame into a new DataFrame 'CH'
CH = CH.fillna(0)  # Fill missing (NaN) values in the 'CH' DataFrame with zeros
CH.reset_index(level=0, inplace=True)  # Reset the index of the 'CH' DataFrame, moving the current index to a regular column
CH.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'CH' DataFrame
CH['dates'] = pd.to_datetime(CH['dates'])  # Convert the values in the 'dates' column of the 'CH' DataFrame to datetime objects

In [88]:
CH['deceased'] = CH['deceased'].astype(int)
CH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        592 non-null    datetime64[ns]
 1   confirmed    592 non-null    float64
 2   tested       592 non-null    float64
 3   recovered    592 non-null    float64
 4   deceased     592 non-null    int32
 5   other        592 non-null    float64
 6   vaccinated1  592 non-null    float64
 7   vaccinated2  592 non-null    float64
dtypes: datetime64[ns](1), float64(6), int32(1)
memory usage: 34.8 KB

## CT

In [37]:
dfCT = pd.DataFrame(df_timeseries['CT']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfCT' from transposed date data for Chhattisgarh (CT) from 'df_timeseries'
dfCT.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfCT' DataFrame
CT = dfCT['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfCT' DataFrame into a new DataFrame 'CT'
CT = CT.fillna(0)  # Fill missing (NaN) values in the 'CT' DataFrame with zeros
CT.reset_index(level=0, inplace=True)  # Reset the index of the 'CT' DataFrame, moving the current index to a regular column
CT.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'CT' DataFrame
CT['dates'] = pd.to_datetime(CT['dates'])  # Convert the values in the 'dates' column of the 'CT' DataFrame to datetime objects

In [89]:
CT['deceased'] = CT['deceased'].astype(int)
CT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        592 non-null    datetime64[ns]
 1   confirmed    592 non-null    float64
 2   recovered    592 non-null    float64
 3   tested       592 non-null    float64
 4   deceased     592 non-null    int32
 5   vaccinated1  592 non-null    float64
 6   vaccinated2  592 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1)
memory usage: 30.2 KB

## DL

In [39]:
dfDL = pd.DataFrame(df_timeseries['DL']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfDL' from transposed date data for Delhi (DL) from 'df_timeseries'
dfDL.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfDL' DataFrame
DL = dfDL['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfDL' DataFrame into a new DataFrame 'DL'
DL = DL.fillna(0)  # Fill missing (NaN) values in the 'DL' DataFrame with zeros
DL.reset_index(level=0, inplace=True)  # Reset the index of the 'DL' DataFrame, moving the current index to a regular column
DL.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'DL' DataFrame
DL['dates'] = pd.to_datetime(DL['dates'])  # Convert the values in the 'dates' column of the 'DL' DataFrame to datetime objects

In [90]:
DL['deceased'] = DL['deceased'].astype(int)
DL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609 entries, 0 to 608
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        609 non-null    datetime64[ns]
 1   confirmed    609 non-null    float64
 2   deceased     609 non-null    int32
 3   recovered    609 non-null    float64
 4   tested       609 non-null    float64
 5   vaccinated1  609 non-null    float64
 6   vaccinated2  609 non-null    float64
dtypes: datetime64[ns](1), float64(5), int32(1)
memory usage: 31.1 KB

## DN

In [41]:
dfDN = pd.DataFrame(df_timeseries['DN']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfDN' from transposed date data for Dadra and Nagar Haveli and Daman and Diu (DN) from 'df_timeseries'
dfDN.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfDN' DataFrame
DN = dfDN['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfDN' DataFrame into a new DataFrame 'DN'
DN = DN.fillna(0)  # Fill missing (NaN) values in the 'DN' DataFrame with zeros
DN.reset_index(level=0, inplace=True)  # Reset the index of the 'DN' DataFrame, moving the current index to a regular column
DN.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'DN' DataFrame
DN['dates'] = pd.to_datetime(DN['dates'])  # Convert the values in the 'dates' column of the 'DN' DataFrame to datetime objects

In [91]:
DN['deceased'] = DN['deceased'].astype(int)
DN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        571 non-null    datetime64[ns]
 1   tested       571 non-null    float64
 2   confirmed    571 non-null    float64
 3   recovered    571 non-null    float64
 4   other        571 non-null    float64
 5   deceased     571 non-null    int32
 6   vaccinated1  571 non-null    float64
 7   vaccinated2  571 non-null    float64
dtypes: datetime64[ns](1), float64(6), int32(1)
memory usage: 33.6 KB

## GA

In [43]:
dfGA = pd.DataFrame(df_timeseries['GA']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfGA' from transposed date data for Goa (GA) from 'df_timeseries'
dfGA.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfGA' DataFrame
GA = dfGA['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfGA' DataFrame into a new DataFrame 'GA'
GA = GA.fillna(0)  # Fill missing (NaN) values in the 'GA' DataFrame with zeros
GA.reset_index(level=0, inplace=True)  # Reset the index of the 'GA' DataFrame, moving the current index to a regular column
GA.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'GA' DataFrame
GA['dates'] = pd.to_datetime(GA['dates'])  # Convert the values in the 'dates' column of the 'GA' DataFrame to datetime objects
GA.info()  # Display information about the 'GA' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        586 non-null    datetime64[ns]
 1   confirmed    586 non-null    float64
 2   tested       586 non-null    float64
 3   recovered    586 non-null    float64
 4   deceased     586 non-null    float64
 5   vaccinated1  586 non-null    float64
 6   vaccinated2  586 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.2 KB

In [92]:
GA['deceased'] = GA['deceased'].astype(int)

## GJ

In [44]:
dfGJ = pd.DataFrame(df_timeseries['GJ']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfGJ' from transposed date data for Gujarat (GJ) from 'df_timeseries'
dfGJ.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfGJ' DataFrame
GJ = dfGJ['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfGJ' DataFrame into a new DataFrame 'GJ'
GJ = GJ.fillna(0)  # Fill missing (NaN) values in the 'GJ' DataFrame with zeros
GJ.reset_index(level=0, inplace=True)  # Reset the index of the 'GJ' DataFrame, moving the current index to a regular column
GJ.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'GJ' DataFrame
GJ['dates'] = pd.to_datetime(GJ['dates'])  # Convert the values in the 'dates' column of the 'GJ' DataFrame to datetime objects
GJ.info()  # Display information about the 'GJ' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        592 non-null    datetime64[ns]
 1   confirmed    592 non-null    float64
 2   deceased     592 non-null    float64
 3   recovered    592 non-null    float64
 4   tested       592 non-null    float64
 5   vaccinated1  592 non-null    float64
 6   vaccinated2  592 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.5 KB

In [93]:
GJ['deceased'] = GJ['deceased'].astype(int)

## HP

In [45]:
dfHP = pd.DataFrame(df_timeseries['HP']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfHP' from transposed date data for Himachal Pradesh (HP) from 'df_timeseries'
dfHP.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfHP' DataFrame
HP = dfHP['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfHP' DataFrame into a new DataFrame 'HP'
HP = HP.fillna(0)  # Fill missing (NaN) values in the 'HP' DataFrame with zeros
HP.reset_index(level=0, inplace=True)  # Reset the index of the 'HP' DataFrame, moving the current index to a regular column
HP.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'HP' DataFrame
HP['dates'] = pd.to_datetime(HP['dates'])  # Convert the values in the 'dates' column of the 'HP' DataFrame to datetime objects
HP.info()  # Display information about the 'HP' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597 entries, 0 to 596
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        597 non-null    datetime64[ns]
 1   other        597 non-null    float64
 2   confirmed    597 non-null    float64
 3   deceased     597 non-null    float64
 4   recovered    597 non-null    float64
 5   tested       597 non-null    float64
 6   vaccinated1  597 non-null    float64
 7   vaccinated2  597 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 37.4 KB

In [94]:
HP['deceased'] = HP['deceased'].astype(int)

## HR

In [46]:
dfHR = pd.DataFrame(df_timeseries['HR']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfHR' from transposed date data for Haryana (HR) from 'df_timeseries'
dfHR.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfHR' DataFrame
HR = dfHR['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfHR' DataFrame into a new DataFrame 'HR'
HR = HR.fillna(0)  # Fill missing (NaN) values in the 'HR' DataFrame with zeros
HR.reset_index(level=0, inplace=True)  # Reset the index of the 'HR' DataFrame, moving the current index to a regular column
HR.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'HR' DataFrame
HR['dates'] = pd.to_datetime(HR['dates'])  # Convert the values in the 'dates' column of the 'HR' DataFrame to datetime objects
HR.info()  # Display information about the 'HR' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        607 non-null    datetime64[ns]
 1   confirmed    607 non-null    float64
 2   recovered    607 non-null    float64
 3   tested       607 non-null    float64
 4   deceased     607 non-null    float64
 5   vaccinated1  607 non-null    float64
 6   vaccinated2  607 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.3 KB

In [95]:
HR['deceased'] = HR['deceased'].astype(int)

## JH

In [47]:
dfJH = pd.DataFrame(df_timeseries['JH']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfJH' from transposed date data for Jharkhand (JH) from 'df_timeseries'
dfJH.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfJH' DataFrame
JH = dfJH['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfJH' DataFrame into a new DataFrame 'JH'
JH = JH.fillna(0)  # Fill missing (NaN) values in the 'JH' DataFrame with zeros
JH.reset_index(level=0, inplace=True)  # Reset the index of the 'JH' DataFrame, moving the current index to a regular column
JH.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'JH' DataFrame
JH['dates'] = pd.to_datetime(JH['dates'])  # Convert the values in the 'dates' column of the 'JH' DataFrame to datetime objects
JH.info()  # Display information about the 'JH' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        580 non-null    datetime64[ns]
 1   confirmed    580 non-null    float64
 2   deceased     580 non-null    float64
 3   tested       580 non-null    float64
 4   recovered    580 non-null    float64
 5   vaccinated1  580 non-null    float64
 6   vaccinated2  580 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 31.8 KB

In [96]:
JH['deceased'] = JH['deceased'].astype(int)

## JK

In [48]:
dfJK = pd.DataFrame(df_timeseries['JK']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfJK' from transposed date data for Jammu and Kashmir (JK) from 'df_timeseries'
dfJK.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfJK' DataFrame
JK = dfJK['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfJK' DataFrame into a new DataFrame 'JK'
JK = JK.fillna(0)  # Fill missing (NaN) values in the 'JK' DataFrame with zeros
JK.reset_index(level=0, inplace=True)  # Reset the index of the 'JK' DataFrame, moving the current index to a regular column
JK.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'JK' DataFrame
JK['dates'] = pd.to_datetime(JK['dates'])  # Convert the values in the 'dates' column of the 'JK' DataFrame to datetime objects
JK.info()  # Display information about the 'JK' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        602 non-null    datetime64[ns]
 1   confirmed    602 non-null    float64
 2   deceased     602 non-null    float64
 3   recovered    602 non-null    float64
 4   tested       602 non-null    float64
 5   vaccinated1  602 non-null    float64
 6   vaccinated2  602 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.0 KB

In [97]:
JK['deceased'] = JK['deceased'].astype(int)

## KA

In [49]:
dfKA = pd.DataFrame(df_timeseries['KA']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfKA' from transposed date data for Karnataka (KA) from 'df_timeseries'
dfKA.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfKA' DataFrame
KA = dfKA['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfKA' DataFrame into a new DataFrame 'KA'
KA = KA.fillna(0)  # Fill missing (NaN) values in the 'KA' DataFrame with zeros
KA.reset_index(level=0, inplace=True)  # Reset the index of the 'KA' DataFrame, moving the current index to a regular column
KA.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'KA' DataFrame
KA['dates'] = pd.to_datetime(KA['dates'])  # Convert the values in the 'dates' column of the 'KA' DataFrame to datetime objects
KA.info()  # Display information about the 'KA' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        602 non-null    datetime64[ns]
 1   confirmed    602 non-null    float64
 2   deceased     602 non-null    float64
 3   recovered    602 non-null    float64
 4   tested       602 non-null    float64
 5   other        602 non-null    float64
 6   vaccinated1  602 non-null    float64
 7   vaccinated2  602 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 37.8 KB

In [98]:
KA['deceased'] = KA['deceased'].astype(int)

In [50]:
df_timeseries.columns

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UN', 'UP',
       'UT', 'WB'],
      dtype='object')

## KL

In [51]:
dfKL = pd.DataFrame(df_timeseries['KL']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfKL' from transposed date data for Kerala (KL) from 'df_timeseries'
dfKL.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfKL' DataFrame
KL = dfKL['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfKL' DataFrame into a new DataFrame 'KL'
KL = KL.fillna(0)  # Fill missing (NaN) values in the 'KL' DataFrame with zeros
KL.reset_index(level=0, inplace=True)  # Reset the index of the 'KL' DataFrame, moving the current index to a regular column
KL.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'KL' DataFrame
KL['dates'] = pd.to_datetime(KL['dates'])  # Convert the values in the 'dates' column of the 'KL' DataFrame to datetime objects
KL.info()  # Display information about the 'KL' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        613 non-null    datetime64[ns]
 1   confirmed    613 non-null    float64
 2   recovered    613 non-null    float64
 3   deceased     613 non-null    float64
 4   tested       613 non-null    float64
 5   other        613 non-null    float64
 6   vaccinated1  613 non-null    float64
 7   vaccinated2  613 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 38.4 KB

In [99]:
KL['deceased'] = KL['deceased'].astype(int)

## LA

In [52]:
dfLA = pd.DataFrame(df_timeseries['LA']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfLA' from transposed date data for Ladakh (LA) from 'df_timeseries'
dfLA.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfLA' DataFrame
LA = dfLA['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfLA' DataFrame into a new DataFrame 'LA'
LA = LA.fillna(0)  # Fill missing (NaN) values in the 'LA' DataFrame with zeros
LA.reset_index(level=0, inplace=True)  # Reset the index of the 'LA' DataFrame, moving the current index to a regular column
LA.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'LA' DataFrame
LA['dates'] = pd.to_datetime(LA['dates'])  # Convert the values in the 'dates' column of the 'LA' DataFrame to datetime objects
LA.info()  # Display information about the 'LA' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604 entries, 0 to 603
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        604 non-null    datetime64[ns]
 1   confirmed    604 non-null    float64
 2   recovered    604 non-null    float64
 3   tested       604 non-null    float64
 4   deceased     604 non-null    float64
 5   vaccinated1  604 non-null    float64
 6   vaccinated2  604 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.2 KB

In [100]:
LA['deceased'] = LA['deceased'].astype(int)

## LD

In [53]:
dfLD = pd.DataFrame(df_timeseries['LD']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfLD' from transposed date data for Lakshadweep (LD) from 'df_timeseries'
dfLD.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfLD' DataFrame
LD = dfLD['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfLD' DataFrame into a new DataFrame 'LD'
LD = LD.fillna(0)  # Fill missing (NaN) values in the 'LD' DataFrame with zeros
LD.reset_index(level=0, inplace=True)  # Reset the index of the 'LD' DataFrame, moving the current index to a regular column
LD.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'LD' DataFrame
LD['dates'] = pd.to_datetime(LD['dates'])  # Convert the values in the 'dates' column of the 'LD' DataFrame to datetime objects
LD.info()  # Display information about the 'LD' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        289 non-null    datetime64[ns]
 1   vaccinated1  289 non-null    float64
 2   confirmed    289 non-null    float64
 3   tested       289 non-null    float64
 4   recovered    289 non-null    float64
 5   other        289 non-null    float64
 6   vaccinated2  289 non-null    float64
 7   deceased     289 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 18.2 KB

In [101]:
LD['deceased'] = LD['deceased'].astype(int)

## MH

In [54]:
dfMH = pd.DataFrame(df_timeseries['MH']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfMH' from transposed date data for Maharashtra (MH) from 'df_timeseries'
dfMH.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfMH' DataFrame
MH = dfMH['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfMH' DataFrame into a new DataFrame 'MH'
MH = MH.fillna(0)  # Fill missing (NaN) values in the 'MH' DataFrame with zeros
MH.reset_index(level=0, inplace=True)  # Reset the index of the 'MH' DataFrame, moving the current index to a regular column
MH.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'MH' DataFrame
MH['dates'] = pd.to_datetime(MH['dates'])  # Convert the values in the 'dates' column of the 'MH' DataFrame to datetime objects
MH.info()  # Display information about the 'MH' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        602 non-null    datetime64[ns]
 1   confirmed    602 non-null    float64
 2   deceased     602 non-null    float64
 3   recovered    602 non-null    float64
 4   tested       602 non-null    float64
 5   other        602 non-null    float64
 6   vaccinated1  602 non-null    float64
 7   vaccinated2  602 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 37.8 KB

In [55]:
MH['deceased'] = MH['deceased'].astype(int)
MH['deceased'].unique()

array([     0,      8,     10,     11,     16,     21,     26,     32,
           45,     52,     64,     72,     97,    110,    127,    149,
          160,    178,    187,    194,    201,    211,    223,    232,
          251,    269,    283,    301,    323,    342,    369,    400,
          432,    459,    485,    521,    548,    583,    617,    651,
          694,    731,    779,    832,    868,    921,    975,   1019,
         1068,   1135,   1198,   1249,   1325,   1390,   1454,   1517,
         1577,   1635,   1695,   1792,   1897,   1982,   2098,   2197,
         2286,   2362,   2465,   2587,   2710,   2849,   2969,   3060,
         3169,   3289,   3438,   3590,   3717,   3830,   3950,   4128,
         5537,   5651,   5751,   5893,   5984,   6170,   6283,   6531,
         6739,   6931,   7106,   7273,   7429,   7610,   7855,   8053,
         8178,   8376,   8671,   8822,   9026,   9250,   9448,   9667,
         9893,  10116,  10289,  10482,  10695,  10928,  11194,  11452,
        11596,  11854,  12030,  12276,  12556,  12854,  13132,  13389,
        13656,  13883,  14165,  14463,  14729,  14994,  15316,  15576,
        15842,  16142,  16476,  16792,  17092,  17367,  17757,  18050,
        18306,  18650,  19063,  19427,  19749,  20037,  20265,  20687,
        21033,  21359,  21698,  21995,  22253,  22465,  22794,  23089,
        23444,  23775,  24103,  24399,  24583,  24903,  25195,  25586,
        25964,  26276,  26604,  27027,  27407,  27787,  28282,  28724,
        29115,  29531,  29894,  30409,  30883,  31351,  31791,  32216,
        32671,  33015,  33407,  33886,  34345,  34761,  35191,  35571,
        35751,  36181,  36662,  37056,  37480,  37758,  38084,  38347,
        38717,  39072,  39430,  39732,  40040,  40345,  40514,  40701,
        40859,  41196,  41502,  41965,  42115,  42240,  42453,  42633,
        42831,  43015,  43152,  43264,  43348,  43463,  43554,  43710,
        43837,  43911,  44024,  44128,  44248,  44548,  44804,  44965,
        45115,  45240,  45325,  45435,  45560,  45682,  45809,  45914,
        45974,  46034,  46102,  46202,  46356,  46511,  46573,  46623,
        46653,  46683,  46748,  46813,  46898,  46986,  47071,  47151,
        47246,  47357,  47472,  47599,  47694,  47734,  47774,  47827,
        47902,  47972,  48059,  48139,  48209,  48269,  48339,  48434,
        48499,  48574,  48648,  48746,  48801,  48876,  48969,  49058,
        49129,  49189,  49255,  49305,  49373,  49463,  49521,  49580,
        49631,  49666,  49695,  49759,  49825,  49897,  49970,  50027,
        50061,  50101,  50151,  50221,  50291,  50336,  50388,  50438,
        50473,  50523,  50582,  50634,  50684,  50740,  50785,  50815,
        50862,  50894,  50944,  51000,  51042,  51082,  51109,  51139,
        51169,  51215,  51255,  51280,  51310,  51325,  51360,  51390,
        51415,  51451,  51489,  51529,  51552,  51591,  51631,  51669,
        51713,  51753,  51788,  51806,  51857,  51937,  51993,  52041,
        52092,  52154,  52184,  52238,  52280,  52340,  52393,  52440,
        52478,  52500,  52556,  52610,  52667,  52723,  52811,  52861,
        52909,  52996,  53080,  53138,  53208,  53300,  53399,  53457,
        53589,  53684,  53795,  53907,  54073,  54181,  54283,  54422,
        54649,  54898,  55379,  55656,  55878,  56033,  56330,  56652,
        57028,  57329,  57638,  57987,  58245,  58526,  58804,  59153,
        59551,  59970,  60473,  60824,  61343,  61911,  62479,  63252,
        63928,  64760,  65284,  66179,  67214,  67985,  68813,  69615,
        70284,  70851,  71742,  72662,  73515,  74413,  75277,  75849,
        76398,  77191,  78007,  78857,  79552,  80512,  81486,  82486,
        83777,  84371,  85355,  86618,  87300,  88620,  89212,  90349,
        91341,  92225,  93198,  94030,  94844,  95344,  96198,  96751,
        97394,  98771,  99512, 100130, 100470, 101172, 101833, 103748,
       106367, 108333, 111104, 112696, 114154, 115390, 116026, 116674,
       117356, 117961, 118313, 118795, 119303, 119859, 120370, 120881,
       121286, 121573, 121804, 121945, 122197, 122353, 122724, 123030,
       123136, 123531, 123857, 124296, 125034, 125528, 125878, 126024,
       126220, 126390, 126560, 126727, 126851, 127031, 127097, 130753,
       130918, 131038, 131205, 131429, 131552, 131605, 131859, 132145,
       132335, 132566, 132791, 132948, 133038, 133215, 133410, 133530,
       133717, 133845, 133996, 134064, 134201, 134364, 134572, 134730,
       134909, 135039, 135139, 135255, 135413, 135567, 135672, 135817,
       135962, 136067, 136355, 136571, 136730, 136900, 137026, 137157,
       137209, 137313, 137496, 137551, 137643, 137707, 137774, 137811,
       137897, 137962, 138017, 138061, 138096, 138142, 138169, 138221,
       138277, 138322, 138389, 138469, 138518, 138546, 138616, 138664,
       138725, 138776, 138834, 138870, 138902, 138962, 139011, 139067,
       139117, 139166, 139206, 139233, 139272, 139362, 139411, 139470,
       139514, 139542, 139578, 139621, 139670, 139705, 139734, 139760,
       139789, 139816, 139865, 139886, 139925, 139965, 139998, 140016,
       140028, 140060, 140098, 140134, 140170, 140196, 140216])

## ML

In [56]:
dfML = pd.DataFrame(df_timeseries['ML']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfML' from transposed date data for Meghalaya (ML) from 'df_timeseries'
dfML.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfML' DataFrame
ML = dfML['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfML' DataFrame into a new DataFrame 'ML'
ML = ML.fillna(0)  # Fill missing (NaN) values in the 'ML' DataFrame with zeros
ML.reset_index(level=0, inplace=True)  # Reset the index of the 'ML' DataFrame, moving the current index to a regular column
ML.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'ML' DataFrame
ML['dates'] = pd.to_datetime(ML['dates'])  # Convert the values in the 'dates' column of the 'ML' DataFrame to datetime objects
ML.info()  # Display information about the 'ML' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        567 non-null    datetime64[ns]
 1   confirmed    567 non-null    float64
 2   deceased     567 non-null    float64
 3   tested       567 non-null    float64
 4   recovered    567 non-null    float64
 5   other        567 non-null    float64
 6   vaccinated1  567 non-null    float64
 7   vaccinated2  567 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 35.6 KB

In [102]:
ML['deceased'] = ML['deceased'].astype(int)

## MN

In [57]:
dfMN = pd.DataFrame(df_timeseries['MN']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfMN' from transposed date data for Manipur (MN) from 'df_timeseries'
dfMN.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfMN' DataFrame
MN = dfMN['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfMN' DataFrame into a new DataFrame 'MN'
MN = MN.fillna(0)  # Fill missing (NaN) values in the 'MN' DataFrame with zeros
MN.reset_index(level=0, inplace=True)  # Reset the index of the 'MN' DataFrame, moving the current index to a regular column
MN.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'MN' DataFrame
MN['dates'] = pd.to_datetime(MN['dates'])  # Convert the values in the 'dates' column of the 'MN' DataFrame to datetime objects
MN.info()  # Display information about the 'MN' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587 entries, 0 to 586
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        587 non-null    datetime64[ns]
 1   confirmed    587 non-null    float64
 2   recovered    587 non-null    float64
 3   tested       587 non-null    float64
 4   deceased     587 non-null    float64
 5   vaccinated1  587 non-null    float64
 6   vaccinated2  587 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.2 KB

In [104]:
MN['deceased'] = MN['deceased'].astype(int)

## MP

In [58]:
dfMP = pd.DataFrame(df_timeseries['MP']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfMP' from transposed date data for Madhya Pradesh (MP) from 'df_timeseries'
dfMP.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfMP' DataFrame
MP = dfMP['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfMP' DataFrame into a new DataFrame 'MP'
MP = MP.fillna(0)  # Fill missing (NaN) values in the 'MP' DataFrame with zeros
MP.reset_index(level=0, inplace=True)  # Reset the index of the 'MP' DataFrame, moving the current index to a regular column
MP.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'MP' DataFrame
MP['dates'] = pd.to_datetime(MP['dates'])  # Convert the values in the 'dates' column of the 'MP' DataFrame to datetime objects
MP.info()  # Display information about the 'MP' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        591 non-null    datetime64[ns]
 1   confirmed    591 non-null    float64
 2   deceased     591 non-null    float64
 3   recovered    591 non-null    float64
 4   tested       591 non-null    float64
 5   vaccinated1  591 non-null    float64
 6   vaccinated2  591 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.4 KB

In [105]:
MP['deceased'] = MP['deceased'].astype(int)

## MZ

In [59]:
dfMZ = pd.DataFrame(df_timeseries['MZ']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfMZ' from transposed date data for Mizoram (MZ) from 'df_timeseries'
dfMZ.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfMZ' DataFrame
MZ = dfMZ['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfMZ' DataFrame into a new DataFrame 'MZ'
MZ = MZ.fillna(0)  # Fill missing (NaN) values in the 'MZ' DataFrame with zeros
MZ.reset_index(level=0, inplace=True)  # Reset the index of the 'MZ' DataFrame, moving the current index to a regular column
MZ.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'MZ' DataFrame
MZ['dates'] = pd.to_datetime(MZ['dates'])  # Convert the values in the 'dates' column of the 'MZ' DataFrame to datetime objects
MZ.info()  # Display information about the 'MZ' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        586 non-null    datetime64[ns]
 1   confirmed    586 non-null    float64
 2   tested       586 non-null    float64
 3   recovered    586 non-null    float64
 4   deceased     586 non-null    float64
 5   vaccinated1  586 non-null    float64
 6   vaccinated2  586 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.2 KB

In [106]:
MZ['deceased'] = MZ['deceased'].astype(int)

## NL

In [60]:
dfNL = pd.DataFrame(df_timeseries['NL']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfNL' from transposed date data for Nagaland (NL) from 'df_timeseries'
dfNL.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfNL' DataFrame
NL = dfNL['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfNL' DataFrame into a new DataFrame 'NL'
NL = NL.fillna(0)  # Fill missing (NaN) values in the 'NL' DataFrame with zeros
NL.reset_index(level=0, inplace=True)  # Reset the index of the 'NL' DataFrame, moving the current index to a regular column
NL.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'NL' DataFrame
NL['dates'] = pd.to_datetime(NL['dates'])  # Convert the values in the 'dates' column of the 'NL' DataFrame to datetime objects
NL.info()  # Display information about the 'NL' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        574 non-null    datetime64[ns]
 1   tested       574 non-null    float64
 2   confirmed    574 non-null    float64
 3   recovered    574 non-null    float64
 4   deceased     574 non-null    float64
 5   other        574 non-null    float64
 6   vaccinated1  574 non-null    float64
 7   vaccinated2  574 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 36.0 KB

In [107]:
NL['deceased'] = NL['deceased'].astype(int)

## OR

In [61]:
dfOR = pd.DataFrame(df_timeseries['OR']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfOR' from transposed date data for Odisha (OR) from 'df_timeseries'
dfOR.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfOR' DataFrame
OR = dfOR['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfOR' DataFrame into a new DataFrame 'OR'
OR = OR.fillna(0)  # Fill missing (NaN) values in the 'OR' DataFrame with zeros
OR.reset_index(level=0, inplace=True)  # Reset the index of the 'OR' DataFrame, moving the current index to a regular column
OR.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'OR' DataFrame
OR['dates'] = pd.to_datetime(OR['dates'])  # Convert the values in the 'dates' column of the 'OR' DataFrame to datetime objects
OR.info()  # Display information about the 'OR' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        595 non-null    datetime64[ns]
 1   confirmed    595 non-null    float64
 2   recovered    595 non-null    float64
 3   tested       595 non-null    float64
 4   deceased     595 non-null    float64
 5   vaccinated1  595 non-null    float64
 6   vaccinated2  595 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.7 KB

In [108]:
OR['deceased'] = OR['deceased'].astype(int)

## PB

In [62]:
dfPB = pd.DataFrame(df_timeseries['PB']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfPB' from transposed date data for Punjab (PB) from 'df_timeseries'
dfPB.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfPB' DataFrame
PB = dfPB['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfPB' DataFrame into a new DataFrame 'PB'
PB = PB.fillna(0)  # Fill missing (NaN) values in the 'PB' DataFrame with zeros
PB.reset_index(level=0, inplace=True)  # Reset the index of the 'PB' DataFrame, moving the current index to a regular column
PB.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'PB' DataFrame
PB['dates'] = pd.to_datetime(PB['dates'])  # Convert the values in the 'dates' column of the 'PB' DataFrame to datetime objects
PB.info()  # Display information about the 'PB' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        602 non-null    datetime64[ns]
 1   confirmed    602 non-null    float64
 2   deceased     602 non-null    float64
 3   recovered    602 non-null    float64
 4   tested       602 non-null    float64
 5   vaccinated1  602 non-null    float64
 6   vaccinated2  602 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.0 KB

In [109]:
PB['deceased'] = PB['deceased'].astype(int)

## PY

In [63]:
dfPY = pd.DataFrame(df_timeseries['PY']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfPY' from transposed date data for Puducherry (PY) from 'df_timeseries'
dfPY.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfPY' DataFrame
PY = dfPY['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfPY' DataFrame into a new DataFrame 'PY'
PY = PY.fillna(0)  # Fill missing (NaN) values in the 'PY' DataFrame with zeros
PY.reset_index(level=0, inplace=True)  # Reset the index of the 'PY' DataFrame, moving the current index to a regular column
PY.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'PY' DataFrame
PY['dates'] = pd.to_datetime(PY['dates'])  # Convert the values in the 'dates' column of the 'PY' DataFrame to datetime objects
PY.info()  # Display information about the 'PY' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        594 non-null    datetime64[ns]
 1   confirmed    594 non-null    float64
 2   recovered    594 non-null    float64
 3   tested       594 non-null    float64
 4   deceased     594 non-null    float64
 5   vaccinated1  594 non-null    float64
 6   vaccinated2  594 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.6 KB

In [110]:
PY['deceased'] = PY['deceased'].astype(int)

## RJ

In [64]:
dfRJ = pd.DataFrame(df_timeseries['RJ']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfRJ' from transposed date data for Rajasthan (RJ) from 'df_timeseries'
dfRJ.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfRJ' DataFrame
RJ = dfRJ['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfRJ' DataFrame into a new DataFrame 'RJ'
RJ = RJ.fillna(0)  # Fill missing (NaN) values in the 'RJ' DataFrame with zeros
RJ.reset_index(level=0, inplace=True)  # Reset the index of the 'RJ' DataFrame, moving the current index to a regular column
RJ.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'RJ' DataFrame
RJ['dates'] = pd.to_datetime(HP['dates'])  # Convert the values in the 'dates' column of the 'RJ' DataFrame to datetime objects (Note: 'HP' should be replaced with 'RJ' here)
RJ.info()  # Display information about the 'RJ' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        597 non-null    datetime64[ns]
 1   confirmed    608 non-null    float64
 2   recovered    608 non-null    float64
 3   deceased     608 non-null    float64
 4   tested       608 non-null    float64
 5   vaccinated1  608 non-null    float64
 6   vaccinated2  608 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.4 KB

In [111]:
RJ['deceased'] = RJ['deceased'].astype(int)

In [65]:
import numpy as np

In [66]:
RJ = RJ.dropna()

In [67]:
RJ.tail(12)

,dates,confirmed,recovered,deceased,tested,vaccinated1,vaccinated2
585,2021-10-20,954355.0,945366.0,8954.0,14510433.0,41389970.0,17262697.0
586,2021-10-21,954359.0,945368.0,8954.0,14527434.0,41478621.0,17448695.0
587,2021-10-22,954366.0,945377.0,8954.0,14533661.0,41567021.0,17645602.0
588,2021-10-23,954370.0,945380.0,8954.0,14550438.0,41648635.0,17822118.0
589,2021-10-24,954374.0,945384.0,8954.0,14569813.0,41676791.0,17895961.0
590,2021-10-25,954382.0,945386.0,8954.0,14579310.0,41731545.0,18023301.0
591,2021-10-26,954383.0,945389.0,8954.0,14593931.0,41786528.0,18129651.0
592,2021-10-27,954388.0,945390.0,8954.0,14601452.0,41904936.0,18382312.0
593,2021-10-28,954390.0,945394.0,8954.0,14617381.0,41940558.0,18446592.0
594,2021-10-29,954392.0,945395.0,8954.0,14623014.0,42025148.0,18629922.0
595,2021-10-30,954392.0,945400.0,8954.0,14640255.0,42063882.0,18717298.0
596,2021-10-31,954393.0,945401.0,8954.0,14649080.0,42129019.0,18877723.0

## SK

In [68]:
dfSK = pd.DataFrame(df_timeseries['SK']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfSK' from transposed date data for Sikkim (SK) from 'df_timeseries'
dfSK.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfSK' DataFrame
SK = dfSK['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfSK' DataFrame into a new DataFrame 'SK'
SK = SK.fillna(0)  # Fill missing (NaN) values in the 'SK' DataFrame with zeros
SK.reset_index(level=0, inplace=True)  # Reset the index of the 'SK' DataFrame, moving the current index to a regular column
SK.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'SK' DataFrame
SK['dates'] = pd.to_datetime(SK['dates'])  # Convert the values in the 'dates' column of the 'SK' DataFrame to datetime objects
SK.info()  # Display information about the 'SK' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        546 non-null    datetime64[ns]
 1   tested       546 non-null    float64
 2   confirmed    546 non-null    float64
 3   recovered    546 non-null    float64
 4   other        546 non-null    float64
 5   deceased     546 non-null    float64
 6   vaccinated1  546 non-null    float64
 7   vaccinated2  546 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 34.2 KB

In [112]:
SK['deceased'] = SK['deceased'].astype(int)

## TG

In [69]:
dfTG = pd.DataFrame(df_timeseries['TG']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfTG' from transposed date data for Telangana (TG) from 'df_timeseries'
dfTG.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfTG' DataFrame
TG = dfTG['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfTG' DataFrame into a new DataFrame 'TG'
TG = TG.fillna(0)  # Fill missing (NaN) values in the 'TG' DataFrame with zeros
TG.reset_index(level=0, inplace=True)  # Reset the index of the 'TG' DataFrame, moving the current index to a regular column
TG.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'TG' DataFrame
TG['dates'] = pd.to_datetime(TG['dates'])  # Convert the values in the 'dates' column of the 'TG' DataFrame to datetime objects
TG.info()  # Display information about the 'TG' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609 entries, 0 to 608
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        609 non-null    datetime64[ns]
 1   confirmed    609 non-null    float64
 2   deceased     609 non-null    float64
 3   recovered    609 non-null    float64
 4   tested       609 non-null    float64
 5   vaccinated1  609 non-null    float64
 6   vaccinated2  609 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.4 KB

In [113]:
TG['deceased'] = TG['deceased'].astype(int)

## TN

In [70]:
dfTN = pd.DataFrame(df_timeseries['TN']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfTN' from transposed date data for Tamil Nadu (TN) from 'df_timeseries'
dfTN.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfTN' DataFrame
TN = dfTN['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfTN' DataFrame into a new DataFrame 'TN'
TN = TN.fillna(0)  # Fill missing (NaN) values in the 'TN' DataFrame with zeros
TN.reset_index(level=0, inplace=True)  # Reset the index of the 'TN' DataFrame, moving the current index to a regular column
TN.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'TN' DataFrame
TN['dates'] = pd.to_datetime(TN['dates'])  # Convert the values in the 'dates' column of the 'TN' DataFrame to datetime objects
TN.info()  # Display information about the 'TN' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604 entries, 0 to 603
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        604 non-null    datetime64[ns]
 1   confirmed    604 non-null    float64
 2   deceased     604 non-null    float64
 3   recovered    604 non-null    float64
 4   tested       604 non-null    float64
 5   vaccinated1  604 non-null    float64
 6   vaccinated2  604 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.2 KB

In [114]:
TN['deceased'] = TN['deceased'].astype(int)

## TR

In [71]:
dfTR = pd.DataFrame(df_timeseries['TR']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfTR' from transposed date data for Tripura (TR) from 'df_timeseries'
dfTR.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfTR' DataFrame
TR = dfTR['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfTR' DataFrame into a new DataFrame 'TR'
TR = TR.fillna(0)  # Fill missing (NaN) values in the 'TR' DataFrame with zeros
TR.reset_index(level=0, inplace=True)  # Reset the index of the 'TR' DataFrame, moving the current index to a regular column
TR.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'TR' DataFrame
TR['dates'] = pd.to_datetime(TR['dates'])  # Convert the values in the 'dates' column of the 'TR' DataFrame to datetime objects
TR.info()  # Display information about the 'TR' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        574 non-null    datetime64[ns]
 1   confirmed    574 non-null    float64
 2   tested       574 non-null    float64
 3   recovered    574 non-null    float64
 4   deceased     574 non-null    float64
 5   other        574 non-null    float64
 6   vaccinated1  574 non-null    float64
 7   vaccinated2  574 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 36.0 KB

In [115]:
TR['deceased'] = TR['deceased'].astype(int)

## TT

In [72]:
dfTT = pd.DataFrame(df_timeseries['TT']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfTT' from transposed date data for all of India (TT) from 'df_timeseries'
dfTT.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfTT' DataFrame
TT = dfTT['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfTT' DataFrame into a new DataFrame 'TT'
TT = TT.fillna(0)  # Fill missing (NaN) values in the 'TT' DataFrame with zeros
TT.reset_index(level=0, inplace=True)  # Reset the index of the 'TT' DataFrame, moving the current index to a regular column
TT.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'TT' DataFrame
TT['dates'] = pd.to_datetime(TT['dates'])  # Convert the values in the 'dates' column of the 'TT' DataFrame to datetime objects
TT.info()  # Display information about the 'TT' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        613 non-null    datetime64[ns]
 1   confirmed    613 non-null    float64
 2   recovered    613 non-null    float64
 3   deceased     613 non-null    float64
 4   tested       613 non-null    float64
 5   other        613 non-null    float64
 6   vaccinated1  613 non-null    float64
 7   vaccinated2  613 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 38.4 KB

In [116]:
TT['deceased'] = TT['deceased'].astype(int)

In [73]:
df_timeseries.columns

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UN', 'UP',
       'UT', 'WB'],
      dtype='object')

## UN

In [74]:
dfUN = pd.DataFrame(df_timeseries['UN']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfUN' from transposed date data for United Nations (UN) from 'df_timeseries'
dfUN.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfUN' DataFrame
UN = dfUN['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfUN' DataFrame into a new DataFrame 'UN'
UN = UN.fillna(0)  # Fill missing (NaN) values in the 'UN' DataFrame with zeros
UN.reset_index(level=0, inplace=True)  # Reset the index of the 'UN' DataFrame, moving the current index to a regular column
UN.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'UN' DataFrame
UN['dates'] = pd.to_datetime(UN['dates'])  # Convert the values in the 'dates' column of the 'UN' DataFrame to datetime objects
UN.info()  # Display information about the 'UN' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   dates      62 non-null     datetime64[ns]
 1   confirmed  62 non-null     float64
 2   0          62 non-null     float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.6 KB

## UP

In [75]:
dfUP = pd.DataFrame(df_timeseries['UP']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfUP' from transposed date data for Uttar Pradesh (UP) from 'df_timeseries'
dfUP.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfUP' DataFrame
UP = dfUP['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfUP' DataFrame into a new DataFrame 'UP'
UP = UP.fillna(0)  # Fill missing (NaN) values in the 'UP' DataFrame with zeros
UP.reset_index(level=0, inplace=True)  # Reset the index of the 'UP' DataFrame, moving the current index to a regular column
UP.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'UP' DataFrame
UP['dates'] = pd.to_datetime(UP['dates'])  # Convert the values in the 'dates' column of the 'UP' DataFrame to datetime objects
UP.info()  # Display information about the 'UP' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        607 non-null    datetime64[ns]
 1   confirmed    607 non-null    float64
 2   recovered    607 non-null    float64
 3   deceased     607 non-null    float64
 4   tested       607 non-null    float64
 5   vaccinated1  607 non-null    float64
 6   vaccinated2  607 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 33.3 KB

In [118]:
UP['deceased'] = UP['deceased'].astype(int)

## UT

In [76]:
dfUT = pd.DataFrame(df_timeseries['UT']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfUT' from transposed date data for Uttarakhand (UT) from 'df_timeseries'
dfUT.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfUT' DataFrame
UT = dfUT['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfUT' DataFrame into a new DataFrame 'UT'
UT = UT.fillna(0)  # Fill missing (NaN) values in the 'UT' DataFrame with zeros
UT.reset_index(level=0, inplace=True)  # Reset the index of the 'UT' DataFrame, moving the current index to a regular column
UT.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'UT' DataFrame
UT['dates'] = pd.to_datetime(UT['dates'])  # Convert the values in the 'dates' column of the 'UT' DataFrame to datetime objects
UT.info()  # Display information about the 'UT' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        596 non-null    datetime64[ns]
 1   confirmed    596 non-null    float64
 2   recovered    596 non-null    float64
 3   tested       596 non-null    float64
 4   deceased     596 non-null    float64
 5   other        596 non-null    float64
 6   vaccinated1  596 non-null    float64
 7   vaccinated2  596 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 37.4 KB

In [119]:
UT['deceased'] = UT['deceased'].astype(int)

## WB

In [77]:
dfWB = pd.DataFrame(df_timeseries['WB']['dates']).transpose().apply(pd.Series)  # Create a DataFrame 'dfWB' from transposed date data for West Bengal (WB) from 'df_timeseries'
dfWB.drop(columns=['delta', 'delta7'], inplace=True)  # Drop columns 'delta' and 'delta7' from the 'dfWB' DataFrame
WB = dfWB['total'].apply(pd.Series)  # Extract and transform the 'total' column of the 'dfWB' DataFrame into a new DataFrame 'WB'
WB = WB.fillna(0)  # Fill missing (NaN) values in the 'WB' DataFrame with zeros
WB.reset_index(level=0, inplace=True)  # Reset the index of the 'WB' DataFrame, moving the current index to a regular column
WB.rename({'index': 'dates'}, axis=1, inplace=True)  # Rename the column 'index' to 'dates' in the 'WB' DataFrame
WB['dates'] = pd.to_datetime(WB['dates'])  # Convert the values in the 'dates' column of the 'WB' DataFrame to datetime objects
WB.info()  # Display information about the 'WB' DataFrame, such as column data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dates        594 non-null    datetime64[ns]
 1   confirmed    594 non-null    float64
 2   deceased     594 non-null    float64
 3   recovered    594 non-null    float64
 4   tested       594 non-null    float64
 5   vaccinated1  594 non-null    float64
 6   vaccinated2  594 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.6 KB

In [120]:
WB['deceased'] = WB['deceased'].astype(int)

In [78]:
df_timeseries.columns

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UN', 'UP',
       'UT', 'WB'],
      dtype='object')

In [79]:
WB

,dates,confirmed,deceased,recovered,tested,vaccinated1,vaccinated2
0,2020-03-17,1.0,0.0,0.0,0.0,0.0,0.0
1,2020-03-18,1.0,0.0,0.0,0.0,0.0,0.0
2,2020-03-19,1.0,0.0,0.0,0.0,0.0,0.0
3,2020-03-20,2.0,0.0,0.0,0.0,0.0,0.0
4,2020-03-21,4.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
589,2021-10-27,1589042.0,19096.0,1561973.0,19039301.0,53992006.0,20590859.0
590,2021-10-28,1590032.0,19105.0,1562818.0,19084738.0,54524323.0,20878857.0
591,2021-10-29,1591014.0,19113.0,1563678.0,19133755.0,55226050.0,21196433.0
592,2021-10-30,1591994.0,19126.0,1564558.0,19180886.0,55982557.0,21500866.0
593,2021-10-31,1592908.0,19141.0,1565471.0,19228303.0,56192166.0,21559747.0

# Converting each dataframe to csv format

In [ ]:
district_df.to_csv('district_dataframe.csv', index=False)  # Save the 'district_df' DataFrame to a CSV file named 'district_dataframe.csv'
# The 'index=False' parameter ensures that the DataFrame's index is not saved as a separate column in the CSV file.

In [156]:
df_timeseries.columns

Index(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP',
       'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ',
       'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UN', 'UP',
       'UT', 'WB'],
      dtype='object')

In [157]:
AN.to_csv('And&nic.csv',index=False)

In [162]:
AP.to_csv('Andrapradesh.csv',index=False)
AR.to_csv('Arunanchal.csv',index=False)
AS.to_csv('Assam.csv',index=False)
BR.to_csv('Bihar.csv',index=False)
CH.to_csv('Chandigarh.csv',index=False)
CT.to_csv('Chattisgarh.csv',index=False)
DL.to_csv('Delhi.csv',index=False)
DN.to_csv('Dadra&Nagar.csv',index=False)
GA.to_csv('Goa.csv',index=False)
GJ.to_csv('Gujrat.csv',index=False)
HP.to_csv('HimanchalPradesh.csv',index=False)
HR.to_csv('Haryana.csv',index=False)
JH.to_csv('Jharkhand.csv',index=False)
JK.to_csv('Jammu&Kashmir.csv',index=False)
KA.to_csv('karnataka.csv',index=False)
KL.to_csv('Kerela.csv',index=False)
LA.to_csv('Ladakh.csv',index=False)
LD.to_csv('Lakshdweep.csv',index=False)
MH.to_csv('Maharastra.csv',index=False)
ML.to_csv('Meghalaya.csv',index=False)
MN.to_csv('Manipur.csv',index=False)
MP.to_csv('MadhyaPradesh.csv',index=False)
MZ.to_csv('Mizoram.csv',index=False)
NL.to_csv('Nagaland.csv',index=False)
OR.to_csv('Orissa.csv',index=False)
PB.to_csv('Punjab.csv',index=False)
PY.to_csv('Puducherry.csv',index=False)
RJ.to_csv('Rajesthan.csv',index=False)
SK.to_csv('Sikkim.csv',index=False)
TG.to_csv('Telangana.csv',index=False)
TN.to_csv('TamilNadu.csv',index=False)
TR.to_csv('Tripura.csv',index=False)
UP.to_csv('UttarPradesh.csv',index=False)
UT.to_csv('Uttrakhand.csv',index=False)
WB.to_csv('WestBengal.csv',index=False)

In [161]:
district_df['state_code'].unique()

array(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ',
       'HP', 'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN',
       'MP', 'MZ', 'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR',
       'UP', 'UT', 'WB'], dtype=object)